._Signup{
    position:relative;
    height: 97.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

._Signup>.SignUpPage,._Signup>.SignUpPage2{
    background-color: white;
    display:flex;
    width: 30%;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
}
._Signup>.SignUpPage>a>.logo,._Signup>.SignUpPage2>a>.logo{
    width: 160px;
    height: 160px;
}
._Signup>.SignUpPage>.title,._Signup>.SignUpPage2>.title{
    font-size: 30px;
    margin-top: -5px;
}
._Signup>.SignUpPage>form{
    margin-top: -14px;
}
._Signup>.SignUpPage>form>.InputComp>.Input{
    width: 300px;
    height: 38px;
}

.nom_pre>.InputComp>.Input{
    width: 140px;

}

._Signup>.SignUpPage>form>.Submit{
    margin-top: 40px;
    outline: none;
    border: 1px solid transparent;
    background-color: #D1653E;
    color:white;
    width:310px;
    height: 40px;
    cursor: pointer;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
}
.nom_pre{
    display: flex;
    justify-content: space-between;
}

._Signup>.SignUpPage>.Or{
    display: flex;
    justify-content: space-around;
    width: 310px;
    align-items: center;
}
._Signup>.SignUpPage>.Or>.bar{
    height: 1px;
    width: 100px;
    background-color: black;
}
._Signup>.SignUpPage>.Or>.content{
    font-size: 20px;
}
._Signup>.SignUpPage>.DejaSeconnact{
    font-size: 15px;
    font-family: Arial;
    margin-bottom: 30px;
}
._Signup>.SignUpPage>.DejaSeconnact>a{
    color: #D1653E;
    font-weight: 700;
}

._Signup>.SignUpPage2>form>.inputBtn1,
._Signup>.SignUpPage2>form>.inputBtn2{
    
    margin-top: 40px;
    outline: none;
    border: 1px solid transparent;
    background-color: #D1653E;
    color:white;
    width:330px;
    height: 40px;
    cursor: pointer;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
._Signup>.SignUpPage2>form>.inputBtn2{
    margin-top: 10px;
    margin-bottom: 20px;
}
._Signup>.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top:0;
    left:0;
}